<div class="span5" style="border: thin dashed #003bb3;">
    <div id="my-awesome-dropzone"
         class="dropzone" >
    </div>
</div>
<div class="span3">  
    <div ng-show="coupon_form.coupon_name.$dirty && !coupon_form.coupon_name.$pristine" class="invalid">Invalid.
        <span ng-show="coupon_form.coupon_name.$error.required">You need to Specify coupon name.</span>
    </div>
    <label>Name</label>
    <input name="coupon_name" required ng-model="coupon.name" type="text" placeholder="email@domain.com" class="span3">
    <div ng-show="coupon_form.coupon_summary.$dirty && !coupon_form.coupon_summary.$pristine" class="invalid">
        <span ng-show="coupon_form.coupon_summary.$error.required">You Summarize a bit.</span>
    </div>
    <label>Summary</label>
    <textarea name="coupon_summary" required ng-model="coupon.summary" class="span3"></textarea>
    <div ng-show="coupon_form.old_price.$dirty && !coupon_form.old_price.$pristine" class="invalid">
        <span ng-show="coupon_form.old_price.$error.required">You need to Specify Old Price.</span>
    </div>
    <div ng-init="coupon.is_advanced_pricing = 0">
        <fieldset>
            <label>Pricing</label>
            <label>
                <input type="radio" name="is_advanced_pricing" ng-value="0" checked="true" ng-model="coupon.is_advanced_pricing">Basic
            </label>
            <label>
                <input type="radio" name="is_advanced_pricing" ng-value="1" ng-model="coupon.is_advanced_pricing">Advanced
            </label>
        </fieldset>
    </div>
    <label>Old Price</label>
    <input name="old_price" ng-change="calculatePercentDiscount()" required ng-model="coupon.old_price" type="number" placeholder="Old Price" class="span3">
    <div ng-show="coupon_form.new_price.$dirty && !coupon_form.new_price.$pristine" class="invalid">
        <span ng-show="coupon_form.new_price.$error.required">You need to Specify New Price.</span>
    </div>
    <div ng-show="coupon.is_advanced_pricing == 0">
        <label>New Price</label>
        <input name="new_price" ng-change="calculatePercentDiscount()" required ng-model="coupon.new_price" type="number" placeholder="New Price" class="span3">
        <label>Percentage Discount</label>
        <input name="percentage_discount" ng-change="calculateNewPrice()" required ng-model="coupon.discount" type="number" placeholder="Percentage Discount" class="span3">     
    </div>

    <div ng-show="coupon.is_advanced_pricing == 1">
        <table class="table-responsive">
            <thead>
                <tr>
                    <td><label>New Price</label></td>
                    <td><label>No of Sales</label></td>
                    <td><label>Discount Percent</label></td>
                </tr>
            </thead>
            <tr>
                <td>
                    <input name="advanced_prcing[first][price]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.first.price" type="number" placeholder="New Price">
                </td>
                <td>
                    <input name="advanced_prcing[first][count]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.first.count" type="number" placeholder="New Price">
                </td>
                <td>
                    <input name="advanced_prcing[first][percentage_discount]" ng-change="calculateNewPrice()" required ng-model="coupon.advanced_pricing.first.discount" type="number" placeholder="Percentage Discount">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="advanced_prcing[second][price]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.second.price" type="number" placeholder="New Price">
                </td>
                <td>
                    <input name="advanced_prcing[second][count]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.second.count" type="number" placeholder="New Price" >
                </td>
                <td>
                    <input name="advanced_prcing[second][percentage_discount]" ng-change="calculateNewPrice()" required ng-model="coupon.advanced_pricing.second.discount" type="number" placeholder="Percentage Discount">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="advanced_prcing[third][price]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.third.price" type="number" placeholder="New Price">
                </td>
                <td>
                    <input name="advanced_prcing[third][count]" ng-change="calculatePercentDiscount()" required ng-model="coupon.advanced_pricing.third.count" type="number" placeholder="New Price">
                </td>
                <td>
                    <input name="advanced_prcing[third][percentage_discount]" ng-change="calculateNewPrice()" required ng-model="coupon.advanced_pricing.third.discount" type="number" placeholder="Percentage Discount">
                </td>
            </tr>
        </table>
    </div>

    <label>Start Date</label>
    <div ng-show="coupon_form.start_date.$dirty && !coupon_form.start_date.$pristine" class="invalid">
        <span ng-show="coupon_form.start_date.$error.required">You need to Specify Start Date.</span>
    </div>
    <input ng-required='true' type='text' name="start_date" class="span3" datepicker-popup='yyyy-MM-dd' format='yyyy-MM-dd' ng-model="coupon.start_date" />

    <label>End Date Date</label>
    <div ng-show="coupon_form.end_date.$dirty && !coupon_form.start_date.$pristine" class="invalid">
        <span ng-show="coupon_form.end_date.$error.required">You need to Specify Start Date.</span>
    </div>
    <input ng-required='true' type='text' name="end_date" class="span3" datepicker-popup='yyyy-MM-dd' format='yyyy-MM-dd' ng-model="coupon.end_date" min-date='coupon.start_date' />
    <a ui-sref="addcoupon-step2"  class="btn btn-primary btn-large">Next &RightArrow;</a>
</div>