<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Deal Site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="author" href="humans.txt"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<div class="main-contain">

<div class="top-header"></div>

<div class="container center">
<div class="header clearfix">

    <a href="" class="logo" title="logo" alt="priceam"><img src="img/logo.png"></a>

    <div class="inner-pad">

        <ul class="controls right clearfix">
            <li class="login"><a href="#login">Logout</a></li>
            <!--Login if user is has not signed in-->

            <li class="current-user"><!--If user logged in?-->
                <span>Larry</span>

                <div class="inner-nav">
                    <ul>
                        <li><a href="">My Deals</a></li>
                        <li><a href="">Account</a></li>
                        <li class="nav-help" target="_blank"><a href="">Help</em></a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
            </li>

            <li class="cart-icon"><a href="">My Cart (3)</a></li>
        </ul>

        <div class="search-bar right">
            <form>
                <input type="text" placeholder="Search...">
                <input class="search-button" value="Search" type="submit">
            </form>
        </div>
    </div>


    <nav class="mb clearfix">

        <li>
            <a href="">Fashion</a>

            <div class="sub-nav">
                <ul>
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="">Electronics</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li><a href="">Travel</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li><a href="">Food Items</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

    </nav>

</div>
<!--End of header-->

<div class="inner-pad">

    <div class="cart-order">
        <h2 class="majors">Order Details</h2>

        <div class="if-no-deal">
            <p>You have no orders in your cart.</p>

            <div class="no-deal"></div>

            <p>Get discounts at unbelievable prices. <a href="">Continue Shopping.</a></p>
        </div>

        <table>
            <tr>
                <th class="remove-head"></th>
                <th class="align-left desc-head">Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>

            <tr>
                <td class="remove-head"><a href="" class="remove"></a></td>
                <td class="align-left"><h3 class="majors">Free Amala and Ewedu</h3></td>
                <td><input type="text" value="" class="qty"></td>
                <td>₦1,000</td>
                <td class="subby">₦0</td>
            </tr>

            <tr>
                <td class="remove-head"><a href="" class="remove"></a></td>
                <td class="align-left"><h3 class="majors">Free Amala and Ewedu</h3></td>
                <td><input type="text" value="" class="qty"></td>
                <td>₦1,600</td>
                <td class="subby">₦0</td>
            </tr>

            <tr>
                <td class="remove-head"><a href="" class="remove"></a></td>
                <td class="align-left"><h3 class="majors">Free Amala and Ewedu</h3></td>
                <td><input type="text" value="" class="qty"></td>
                <td>₦12,000</td>
                <td class="subby">₦0</td>
            </tr>

        </table>

        <div class="sub-total clearfix">
            <a href="" class="continue-shop">&laquo; Continue shopping</a>

            <p>Shipping:<span class="ship"> ₦2,400</span></p>

            <p class="total">Total:<span> ₦0</span></p>
        </div>
    </div>

    <br>

    <div class="clearfix">
        <div class="shipping left">
            <h2 class="majors">Shipping Address</h2>
            <ul class="clearfix">
                <li><label>Full Name:</label> <input type="text"></li>
                <li><label>Address:</label> <input type="text"></li>
                <li><label>Address 2:</label> <input type="text"></li>
                <li><label>Phone number:</label> <input type="text"></li>
                <li><label>City:</label> <input type="text"></li>
                <li><label>State:</label> <input type="text"></li>
            </ul>

            <div class="payment-options clearfix">
                <h2 class="majors">Select Payment Method</h2>
                <ul>
                    <li class="clearfix">
                        <input type="radio" name="payment">

                        <div class="inter-master"></div>
                    </li>

                    <li class="clearfix"><input type="radio" name="payment">

                        <div class="visa"></div>
                    </li>

                    <li class="clearfix"><input type="radio" name="payment">

                        <div class="paga"></div>
                    </li>

                    <li class="clearfix"><input type="radio" name="payment">

                        <div class="bank">Bank</div>
                    </li>

                </ul>
            </div>

            <input type="submit" value="Pay Now" class="text-button">

            <p class="pay-tc">By clicking "Pay Now" below, you agree to our <a href="">Terms</a> and <a href="">Privacy
                policy</a></p>
        </div>

        <div class="faq right"><!--Change this text-->

            <h2 class="majors">Why you'll love us</h2>
            <ul>
                <li>Friendly &amp; Helpful Support</li>
                <li>Safe &amp; Secure Shopping</li>
                <li>Free Shipping &amp; Returns</li>
            </ul>

            <h2 class="majors">Payment FAQ</h2>

            <p>What happens after I buy?</p>

            <div>Within 24 hours you'll receive an email receipt confirming that your purchase has been processed.
                During times of high site traffic, please allow the full 24 hours for your receipt to arrive through
                email. That email will explain how to print your Pricedis, and your Pricedis will include everything you
                need to know to redeem it.
            </div>

            <p>What if I buy as a gift?</p>

            <div>When you buy a Pricedis as a gift and choose to email it, an email will be sent to the recipient as
                soon as your card is charged, with all the instructions they need to claim their gift with a single
                click. If you chose to print your gift, you'll be able to do that on 'My Gifts' once your card has been
                charged.
            </div>

            <p>Can I change or cancel my purchase?</p>

            <div>Yes, you can modify your purchase up until the deal closes, as long as you haven't printed your
                Pricediss - once you print, you can no longer change your purchase. You'll see all your purchases on 'My
                Pricediss', with a link to 'Change my purchase' where appropriate.
            </div>

            <p>Is this safe?</p>

            <div>Yes! Our security program contains administrative, technical, and physical controls that are designed
                to reasonably safeguard your information; for example, we use industry-standard encryption technology to
                secure your personal and payment information. You can read more here.
            </div>
        </div>
    </div>

</div>

</div>

<div class="footer">
    <div class="center clearfix">
        <div class="footer-nav left">

            <div class="clearfix">
                <ul class="left">
                    <li><h3>HOME</h3></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">How it works</a></li>
                </ul>

                <ul class="left">
                    <li><h3>EXPLORE</h3></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>

                <ul class="left">
                    <li><h3>INFORMATION</h3></li>
                    <li><a href="">Terms of use</a></li>
                    <li><a href="">Discounts</a></li>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>

            <div class="payment-buttons">

            </div>

            <p class="footer-pitch">Get the best deals and discounts and discover more fun stuff in your city. Our deals
                cover your everyday purchases from gadgets to groceries, beauty treatments and others at unbelieveable
                prices.</p>

            <p class="copy">&copy; 2013 Pricedis, Inc. All Rights Reserved.</p>
        </div>

        <div class="footer-social right">
            <div class="mobile-redeem">
                <div class="phone"></div>
                <h2>Redeem on your mobile</h2>

                <p>Buy and redeem your deals from your mobile. No need to print anything.</p>
            </div>

            <ol class="clearfix">
                <li class="gplus"><a href=""></a></li>
                <li class="twitr"><a href=""></a></li>
                <li class="facebk"><a href=""></a></li>
            </ol>

        </div>

    </div>
</div>


<!--Login/Register-->

<div class="login-register">

    <!--Login-->
    <div id="login" class="login-form">
        <div class="login-reg-logo"></div>

        <h2>Login to your account</h2>

        <p>Welcome Back to Pricedis</p>

        <form>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">

            <p class="checkbox-reg"><input type="checkbox"> Remember me</p>
            <input type="submit" value="Login" class="text-button">
        </form>

        <ul class="clearfix">
            <li class="left register">Not a member? <a href="#register">Register</a></li>
            <li class="right forgot"><a href="#forgot">Forgot password?</a></li>
        </ul>
    </div>

    <!--Register-->
    <div id="register" class="register-form">
        <div class="login-reg-logo"></div>

        <h2>Register with Pricedis</h2>

        <p>Get deals covering your everyday purchases from gadgets to groceries, beauty treatments and others at
            unbelieveable prices.</p>

        <form>
            <div class="split-form clearfix">
                <li class="left">
                    <label for="">Firstname *</label>
                    <input type="text" name="firstname" placeholder="">
                </li>

                <li class="right">
                    <label for="">Lastname *</label>
                    <input type="text" name="lastname" placeholder="">
                </li>
            </div>

            <div class="split-form-equal clearfix">
                <li class="left">
                    <label for="">Email *</label>
                    <input type="text" name="email" placeholder="">
                </li>

                <li class="right">
                    <label for="">Mobile number *</label>
                    <input type="text" name="phone" placeholder="">
                </li>
            </div>

            <div class="split-form clearfix">
                <li class="left">
                    <label for="">Password *</label>
                    <input type="password" name="password" placeholder="">
                </li>

                <li class="right">
                    <label for="">Confirm Password *</label>
                    <input type="password" name="confirm" placeholder="">
                </li>
            </div>

            <p class="sara">By clicking "Register" you accept our <a href="">Terms of Use</a> and <a href="">Privacy
                Policy</a>. We will never give, rent or sell your email to third parties.</p>

            <input type="submit" value="Register" class="text-button">
        </form>

        <ul>
            <li class="login">Already a member? <a href="#login">Login</a></li>
        </ul>


    </div>

    <!--Forgot Password-->
    <div id="forgot" class="reset-password">
        <div class="login-reg-logo"></div>

        <h2>Forgot Your Password?</h2>

        <p>Please enter your email address below and we will send you an email to confirm your password.</p>

        <form>
            <input type="text" placeholder="Email address">
            <input type="submit" value="Reset Password" class="text-button">
        </form>

        <ul class="clearfix">
            <li class="left register">Not a member? <a href="#register">Register</a></li>
            <li class="right login"><a href="#login">Login</a></li>
        </ul>
    </div>

</div>
<!--Login - Register ends-->


</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="js/main.js"></script>
<script src="js/modal.js"></script>
<script src="js/waypoints.min.js"></script>

<!--Put analytics script here-->

</body>
</html>
