<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Deal Site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="author" href="humans.txt"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<div class="main-contain">

<div class="top-header">
    <div class="mobile-nav hidden">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="container center">
<div class="header clearfix">

    <a href="" class="logo" title="logo" alt="priceam"><img src="img/logo.png"></a>

    <div class="inner-pad">

        <ul class="controls right clearfix">

            <li class="current-user"><!--If user logged in?-->
                <span>Larry</span>

                <div class="inner-nav">
                    <ul>
                        <li><a href="">My Coupons</a></li>
                        <li><a href="account.blade.php#my-account">Account</a></li>
                        <li class="nav-help" target="_blank"><a href="">Help</em></a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
            </li>

            <li class="login"><a href="#register">Register</a></li>
            <li class="login"><a href="#login">Login</a></li>
            <!--Login if user is has not signed in-->

            <li class="cart-icon"><a href="">₦ 3,300</a></li>

        </ul>

        <div class="search-bar right">
            <form>
                <input type="text" placeholder="Search...">
                <input class="search-button" value="Search" type="submit">
            </form>
        </div>
    </div>


    <nav class="mb clearfix">

        <li>
            <a href="">Fashion</a>

            <div class="sub-nav">
                <ul>
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li>
            <a href="">Electronics</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li><a href="">Travel</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

        <li><a href="">Food Items</a>

            <div class="sub-nav">
                <ul class="sub-nav-list clearfix">
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Children</a></li>
                    <li><a href="">Accessories</a></li>
                </ul>
            </div>
        </li>

    </nav>

</div>
<!--End of header-->


<div class="inner-pad">
<ul class="coupon-promise clearfix mb">
    <li><a href="">Free shipping on deliveries</a></li>
    <li><a href="">Why we use Wallets</a></li>
    <li><a href="">Why you'll love us</a></li>
</ul>

<div class="how-works mb"></div>

<div class="featured-deal clearfix mb">
    <div class="left slide-list-vert">
        <ul>
            <li>
                <div class="list-img">
                    <img src="offers/four.jpg">
                </div>

                <div class="right">
                    <h3>Mexican Tacos and Frog</h3>

                    <p>Enjoy our special delicacy cooked by our special chef, Salisu.</p>
                    <a href="">See Deal</a>
                </div>
            </li>

            <li>
                <div class="list-img">
                    <img src="offers/offer.jpg">
                </div>

                <div class="right">
                    <h3>Mexican Tacos</h3>

                    <p>Enjoy our special delicacy cooked by our special chef, Salisu.</p>
                    <a href="">See Deal</a>
                </div>
            </li>

            <li>
                <div class="list-img">
                    <img src="offers/three.jpg">
                </div>

                <div class="right">
                    <h3>Mexican Tacos</h3>

                    <p>Enjoy our special delicacy cooked by our special chef, Salisu.</p>
                    <a href="">See Deal</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="right actual-slider">
        <ul class="bjqs">
            <li>
                <a href="" title="Mexican Tacos"><img src="offers/four.jpg"></a>
            </li>

            <li><a href="" title="Ugba for free"><img src="offers/offer.jpg" title="Tecno Phones"></a></li>

            <li><a href="" title="Porridge &amp; Fish"><img src="offers/three.jpg"></a></li>
        </ul>
    </div>
</div>

<div class="special-feature mb clearfix">
    <div class="feature-one left"></div>
    <div class="feature-two right"></div>
</div>

<section class="category-deals mb">
    <h2>Fashion Deals <a href="">View all &raquo;</a></h2>
    <ul class="clearfix">

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/1.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/2.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/3.webp"></div>

                <div class="deal-details">
                    <h3>50% off Amala and Ewedu ati gbegiri</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
</section>

<section class="category-deals mb">
    <h2>Laptop Deals <a href="">View all &raquo;</a></h2>
    <ul class="clearfix">
        <li>
            <a href="">
                <div class="deal-img"><img src="offers/4.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/5.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/6.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
</section>

<section class="category-deals mb">
    <h2>Grocery Deals <a href="">View all &raquo;</a></h2>
    <ul class="clearfix">
        <li>
            <a href="">
                <div class="deal-img"><img src="offers/2.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/3.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>

        <li>
            <a href="">
                <div class="deal-img"><img src="offers/1.webp"></div>

                <div class="deal-details">
                    <h3>Free Amala and Ewedu</h3>

                    <p>Eya Basira</p>

                    <span class="deal-location" title="Deal Location">Mushin</span>

                    <ul class="">
                        <li class="normal-price">N2,000</li>
                        <li class="discount-price clearfix">
                            <span class="tag">DEAL <em></em></span>
                            <span>₦1,200</span>
                        </li>
                    </ul>
                </div>
            </a>
        </li>
    </ul>
</section>

<div class="featured-merchants clearfix mb">
    <h2 class="majors">Featured Merchants</h2>
    <br/>
    <ul>
        <li><img src="img/merchant-dummy.png"></li>
        <li><img src="img/dummy-merchant.png"></li>
        <li><img src="img/merchant-dummy.png"></li>
        <li><img src="img/dummy-merchant.png"></li>
        <li><img src="img/merchant-dummy.png"></li>
    </ul>
</div>

</div>

</div>

<div class="footer">
    <div class="center clearfix">
        <div class="footer-nav left">

            <div class="clearfix">
                <ul class="left">
                    <li><h3>HOME</h3></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">How it works</a></li>
                </ul>

                <ul class="left">
                    <li><h3>EXPLORE</h3></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>

                <ul class="left">
                    <li><h3>INFORMATION</h3></li>
                    <li><a href="">Terms of use</a></li>
                    <li><a href="">Discounts</a></li>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>

            <div class="payment-buttons">

            </div>

            <p class="footer-pitch">Get the best deals and discounts and discover more fun stuff in your city. Our deals
                cover your everyday purchases from gadgets to groceries, beauty treatments and others at unbelieveable
                prices.</p>

            <p class="copy">&copy; 2013 CouponCity, NG. All Rights Reserved.</p>
        </div>

        <div class="footer-social right">
            <div class="mobile-redeem">
                <div class="phone"></div>
                <h2>Redeem on your mobile</h2>

                <p>Buy and redeem your deals from your mobile. No need to print anything.</p>
            </div>

            <ol class="clearfix">
                <li class="gplus"><a href=""></a></li>
                <li class="twitr"><a href=""></a></li>
                <li class="facebk"><a href=""></a></li>
            </ol>

        </div>

    </div>
</div>


<!--Login/Register-->

<div class="login-register">

    <!--Login-->
    <div id="login" class="login-form">
        <div class="login-reg-logo"></div>

        <h2>Login to your account</h2>

        <p>Welcome Back to CouponCity</p>

        <a href="" class="social-login"><span></span> Sign in with facebook</a>

        <p class="divide"></p>

        <form>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">

            <p class="checkbox-reg"><input type="checkbox"> Remember me</p>
            <input type="submit" value="Login" class="text-button">
        </form>

        <ul class="clearfix">
            <li class="left register">Not a member? <a href="#register">Register</a></li>
            <li class="right forgot"><a href="#forgot">Forgot password?</a></li>
        </ul>
    </div>

    <!--Register-->
    <div id="register" class="register-form">
        <div class="login-reg-logo"></div>

        <h2>Register with CouponCity</h2>

        <p>Get deals covering your everyday purchases from gadgets to groceries, beauty and others at unbelieveable
            prices.</p>

        <a href="" class="social-login"><span></span> Sign in with facebook</a>

        <p class="divide"></p>

        <form>

            <form>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">

                <p class="sara">By clicking "Register" you accept our <a href="">Terms of Use</a> and <a href="">Privacy
                    Policy</a>.</p>

                <input type="submit" value="Register" class="text-button">
            </form>


        </form>

        <ul>
            <li class="login">Already a member? <a href="#login">Login</a></li>
        </ul>


    </div>

    <!--Forgot Password-->
    <div id="forgot" class="reset-password">
        <div class="login-reg-logo"></div>

        <h2>Forgot Your Password?</h2>

        <p>Please enter your email address below and we will send you an email to confirm your password.</p>

        <form>
            <input type="text" placeholder="Email address">
            <input type="submit" value="Reset Password" class="text-button">
        </form>

        <ul class="clearfix">
            <li class="left register">Not a member? <a href="#register">Register</a></li>
            <li class="right login"><a href="#login">Login</a></li>
        </ul>
    </div>

</div>
<!--Login - Register ends-->


</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="js/basic.js"></script>
<script src="js/modal.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/plugin.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/main.js"></script>

<!--Put analytics script here-->

</body>
</html>
